<launch>
    <include file="$(find ackercito_bringup)/launch/ackercito_core.launch"/>
    <include file="$(find ackercito_bringup)/launch/ackercito_lidar.launch"/>
    <include file="$(find ackercito_bringup)/launch/ackercito_imu.launch"/>
    <include file="$(find ackercito_bringup)/launch/ackercito_transform_publisher.launch"/>
</launch>